div.topic(style= 'border: 1px solid #CCC; margin: 3px 0; padding: 3px;')
  h3= topic.title
  div.container-fluid(style= 'height: 200px; overflow-y: scroll;')
    div.message(style= 'width: 200px;')
      p= 'text text'
    div.message(style= 'width: 200px;')
      p= 'text text'
    div.message(style= 'width: 200px;')
      p= 'text text'
    div.message(style= 'width: 200px;')
      p= 'text text'
    div.message(style= 'width: 200px;')
      p= 'text text'
    div.message(style= 'width: 200px;')
      p= 'text text'
    div.message(style= 'width: 200px;')
      p= 'text text'
    div.message(style= 'width: 200px;')
      p= 'text text'
    div.message(style= 'width: 200px;')
      p= 'text text'
    div.message(style= 'width: 200px;')
      p= 'text text'
    div.message(style= 'width: 200px;')
      p= 'text text'
    div.message(style= 'width: 200px;')
      p= 'text text'
    div.message(style= 'width: 200px;')
      p= 'text text'
    div.message(style= 'width: 200px;')
      p= 'text text'
    div.message(style= 'width: 200px;')
      p= 'text text'
    div.message(style= 'width: 200px;')
      p= 'text text'
    div.message(style= 'width: 200px;')
      p= 'text text'
